angr==9.2.221
appdirs==1.4.4
archinfo==9.2.221
arpy==1.1.1
ascii_magic==2.7.5
attrs==23.2.0
Automat==22.10.0
Babel==2.10.3
base91==1.0.1
bcrypt==3.2.2
beautifulsoup4==4.12.3
binwalk==2.3.3
bitarray==3.8.1
bitstring==4.4.0
blinker==1.7.0
Brotli==1.1.0
cachetools==7.1.4
capstone==5.0.6
cart==1.2.3
certifi==2023.11.17
cffi==2.0.0
chardet==5.2.0
claripy==9.2.221
cle==9.2.221
click==8.1.6
cloud-init==25.1.4
colorama==0.4.6
command-not-found==0.3
configobj==5.0.8
constantly==23.10.4
contourpy==1.0.7
crayons==0.4.0
cryptography==41.0.7
cssselect==1.2.0
cxxheaderparser==1.7.3
cycler==0.11.0
dbus-python==1.3.2
decorator==5.1.1
distro==1.9.0
distro-info==1.7+build1
ecdsa==0.18.0
factordb-pycli==1.3.0
fonttools==4.46.0
fs==2.4.16
gitdb==4.0.12
GitPython==3.1.50
greenlet==3.5.1
gyp==0.1
html5lib==1.1
httplib2==0.20.4
hyperlink==21.0.0
idna==3.6
incremental==22.10.0
Jinja2==3.1.2
jsonpatch==1.32
jsonpointer==2.0
jsonschema==4.10.3
kiwisolver==0.0.0
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lmdb==2.1.1
lxml==5.2.1
lz4==4.0.2+dfsg
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.6.3
mdurl==0.1.2
minidump==0.0.24
mpmath==1.3.0
msgspec==0.21.1
mulpyplexer==0.9
netifaces==0.11.0
networkx==3.6.1
numpy==2.4.6
oauthlib==3.2.2
olefile==0.46
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
packaging==26.2
pefile==2024.8.26
piexif==1.1.3
pillow==12.2.0
platformdirs==4.10.0
playwright==1.60.0
protobuf==7.35.0
psutil==7.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==3.0
pycryptodome==3.23.0
pycurl==7.45.3
pydemumble==0.0.1
pyee==13.0.1
pyelftools==0.33
Pygments==2.17.2
PyGObject==3.48.2
PyHamcrest==2.1.0
PyJWT==2.7.0
PyOpenGL==3.1.7
pyOpenSSL==23.2.0
pyparsing==3.1.1
pypcode==4.0.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQt6==6.6.1
PyQt6-sip==13.6.0
pyqtgraph==0.13.4
pyrsistent==0.20.0
pyserial==3.5
pytesseract==0.3.13
python-apt==2.7.7+ubuntu5.1
python-dateutil==2.8.2
pytz==2024.1
pyvex==9.2.221
pyxbe==1.0.3
pyxdia==0.1.0
PyYAML==6.0.1
pyzbar==0.1.9
requests==2.31.0
rich==13.7.1
rust-demangler==1.0
SciPy==1.11.4
service-identity==24.1.0
setuptools==68.1.2
six==1.16.0
smmap==5.0.3
sortedcontainers==2.4.0
soundfile==0.14.0
soupsieve==2.5
stegano==2.4.1
stegcracker==2.1.0
sympy==1.14.0
systemd-python==235
tibs==0.5.7
Twisted==24.3.0
typing_extensions==4.10.0
ubuntu-pro-client==8001
ufoLib2==0.16.0
unattended-upgrades==0.1
unicodedata2==15.1.0
urllib3==2.0.7
vncdotool==1.3.0
wadllib==1.3.6
webencodings==0.5.1
websockets==16.0
wheel==0.42.0
z3-solver==4.13.0.0
zombie-imp==0.0.2
zope.interface==6.1
